@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}

nav {
    width: 100%;
    height: 75px;
    background-color: #505d61;
    line-height: 75px;
    padding: 0 100px;
    position: fixed;
    z-index: 1;


}

nav .logo {
    float: left;
    font-size: 32px;
    font-weight: bold;
    letter-spacing: 1.90px;
    text-transform: uppercase;
    color: white;

}

span {
    color: aqua;
    text-transform: capitalize;
}

nav ul {
    float: right;
    list-style: none;
    display: flex;
    justify-content: space-between;

}

nav ul li a {
    text-decoration: none;
    margin: 20px;
    font-size: 18px;
    text-transform: uppercase;
    color: white;

}

nav ul li a:hover {
    color: aqua;
}

nav ul li .active {
    color: aqua;
}

.images img {
    width: 100%;
    height: 0 auto;
    opacity: 0.80;

}